@import "parts/_normalize.scss";
@import "parts/_fonts.scss";
@import "parts/_fontawesome.scss";
@import "parts/_var.scss";
@import "parts/_mixin.scss"; 
@import "parts/_header.scss";
@import "parts/_footer.scss";
@import "parts/_banners.scss";
@import "parts/_breadcrumbs.scss"; 
@import "parts/_box.scss"; 

/* certificate === start */
.certificatePMI {
    padding:3rem 0; width:100%; float:left; background: $lightBlue2;
    .certificatePMIinsider{
        display: flow-root; float:none; position: relative; width:95%; max-width:1300px; margin:0 auto;
        ul{
            width:100%; float:left; @include display(space-between, flex-start);
            li {
                list-style:none; width:46%; 
                h2 { width:100%; float:left;  font-size:1.7rem; color: $white; font-weight:700; }
                aside { 
                    width:100%; float:left; margin:1.5rem 0 2rem;
                    img { width:auto; max-width:100%; display:inline-block; }
                }
                p { width:100%; float:left;  font-size:1.1rem; line-height:1.4; color: $white; font-weight:400; }
            }
        }
        h3 {
            width:100%; float:left; text-align:center; margin-top:2rem;
            a { 
                display:inline-block; background:$darkBlue; padding:1rem 1.2rem; font-weight:700; font-size:0.8rem; letter-spacing: 2px; text-transform:uppercase; color:  $white; cursor:pointer; @include transition(ease-out);
                b{ font-weight:400; margin-left:0.3rem; @include transition(ease-out); }
                &:hover { 
                    padding:1rem 0.9rem 1rem 1.2rem; @include transition(ease-in);
                    b { margin-left:0.6rem; @include transition(ease-in); } 
                }
            }
        }
    }
}


/* who we are === start */
.whoweare {
    padding:3rem 0; width:100%; float:left; background: $white;
    .whowearecontainer{
        display: flow-root; float:none; position: relative; width:95%; max-width:1300px; margin:0 auto;
        h2 { width:100%; float:left; text-align:center; margin-bottom:1rem; font-size:1.7rem; color: $lightBlack; font-weight:700; }
        p { width:100%; float:left; text-align:center; font-size:1.1rem; line-height:1.4; color: $lightBlack; font-weight:400; }
        ul {
            width:100%; float:left; margin:1.5rem 0; @include display(space-between, stretch); flex-wrap:wrap;
            li {
                list-style:none; float:left; width:31%; margin-top:0.5rem; margin-bottom:0.5rem;
                
                div {
                    position:relative; width: 100%; height: 100%;
                    h3 { 
                        position:absolute; left:0; top:0; width: 70px; height:70px; background:$lightBlue2; @include display(center, center);
                        img { max-width: 50%; }
                    }
                    
                    aside {
                        background:$whiteLight; width:90%; height: 100%; float:right; padding:1rem 1rem 1rem 3.5rem;
                        b { color:$btnBG; font-size:2rem; font-weight:700; }
                        span {  margin-top: 4px; display:block; color:$lightBlack; font-size:1rem; font-weight:400; }
                    }
                }
                    
            }
        }
    }
}



@media only screen and (max-width:1023px) 
{
    /* certificate === start */
    .certificatePMI {
        padding:2rem 0;  
        .certificatePMIinsider{
            ul{
                li {
                    width:48%;
                    h2 {  font-size:1.4rem;  }
                    aside { margin:1rem 0 1.5rem 0;}
                    p { font-size:1rem; line-height:1.3; }
                }
            }
        }
    }

    
    /* who we are === start */
    .whoweare {
        padding:2rem 0; 
        .whowearecontainer{
            h2 { margin-bottom:0.5rem; font-size:1.4rem;  }
            p { font-size:1rem; }
            ul {
                margin:1rem 0;
                li {
                     width:48%; 
                    div {
                        h3 { 
                            width: 70px; height:70px; 
                        }
                        aside {
                            width:88%; padding:0.7rem 0.7rem 0.7rem 3rem;
                            b {  font-size:1.6rem;  }
                        }
                    }
                }
            }
        }
    }


}

@media only screen and (max-width:599px) 
{
/* who we are === start */
.whoweare .whowearecontainer ul li div aside { width: 80%; padding: 0.7rem 0.7rem 0.7rem 2.5rem; }

}



@media only screen and (max-width:479px) 
{
    /* certificate === start */
    .certificatePMI {
        .certificatePMIinsider{
            ul{
                justify-content: center; flex-wrap:wrap;
                li {width:95%; margin-bottom:2rem; 
                    h2 { text-align:center; }
                    aside { margin:0.7rem 0 0.5rem 0;}
                    p { text-align:center; }
                }
            }
            h3 { margin-top:0; }
        }
    }


    /* who we are === start */
    .whoweare .whowearecontainer{
        h2 { margin-bottom:0.5rem; font-size:1.4rem;  }
        p { font-size:1rem; }
        ul  {
            justify-content: center;
            li {
            width:95%; margin-top: 0.3rem; margin-bottom: 0.3rem;
            div aside {
                width:88%; padding:0.6rem 0.6rem 0.6rem 3rem;
                b {  font-size:1.6rem;  }
                aside span { margin-top: 2px; }
                }
            }
        }
    }


}