@import "parts/_normalize.scss";
@import "parts/_fonts.scss";
@import "parts/_fontawesome.scss";
@import "parts/_var.scss";
@import "parts/_mixin.scss"; 
@import "parts/_header.scss";
@import "parts/_footer.scss";
@import "parts/_banners.scss";
@import "parts/_breadcrumbs.scss"; 


.faqswraps {
    padding:3rem 0; width:100%; float:left; background:$white;
    .faqsInsider {
        display: flow-root; float:none; position: relative; width:95%; max-width:1300px; margin:0 auto;
    }
}

.faqscontainer { 
    width:100%; float:left; 
    h2 { width:100%; float:left; font-size:1.8rem; color:$lightBlack2; font-weight:700; }
    p { 
        width:100%; float:left; margin:1rem 0 2rem 0; font-size:1.2rem; line-height: 1.4; color:$lightBlack; font-weight:400; 
        a { 
            color: $darkBlue;
            &:hover { color:$lightBlack; }
        }
    }
    ul { 
        width:100%; float:left; @include display(space-between, flex-start);
        li {
            list-style:none; @include display(flex-start, flex-start); width:31%; padding:1.5rem; border:solid 1px $faq1; background: $white; cursor:pointer; @include transition(ease-out);
            img { max-width:100%; margin-right:1.5rem; }
            aside { 
                width:100%;
                b { font-size:1.7rem; color: $darkBlue; font-weight:700;  }
                span { display:block; margin-top: 3px; font-size:1rem; color:$lightBlack; font-weight:400;  }
            }
        &:hover {
            background: $whiteLight; border-color:$whiteLight; @include transition(ease-in);
        }
        &.active { background: $whiteLight; border-color:$whiteLight; }
        }
    }
}

.faqsholder { 
    width:100%; float:left;
    .faqshead {
        width:100%; float:left; @include display(space-between, center);  margin:2.5rem 0 0.2rem 0;
        aside { 
            @include display(flex-start, center);
            img { max-width:100%; margin-right:1.5em; background: $lightBlue2; padding:0.9rem; }
            span { color: $faqsHeadText; font-size:1.4rem; font-weight:700; }
        }
        p { 
            @include display(flex-start, center);
            span { 
                color: $ultralightBlack; font-size:1rem; font-weight:400; cursor:pointer;
                &:last-child { margin-left:2rem; }
                &:hover { color: $darkBlue;}
            }
        }
    }
    .faqsbody {
        width:100%; float:left; 
        aside { 
            position:relative; margin-top:1rem;  padding:1rem 3rem 1rem 1rem; width:100%; float:left; background: $whiteLight; 
            color: $lightBlack; font-size:1rem; font-weight:700; cursor:pointer;
            &:after { content:''; position: absolute; right:10px; top:50%; transform: translateY(-50%); width:30px; height:30px; line-height:30px; background: $white url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA6UlEQVQ4T2NkoBAwUqifgaABcjZNxo+O1J3FZRFBA+Rtm48x/mc8/eBIdQEDA+N/dIMIGiDq0MDD9YdlE8P//08fsv5NZDjQ8AfZEIIGgBRLGTdwsXCxrAcy34t+E409ezb9N8wQogwAKdbWbmD7Isi6nIHhPzsjy5+QBwcafoDE4QYo2DZn/vvPxIcvVhgZ/rMC5YuBuo49PFzjjW5AIcN/BnF8BvxnYAQZkAE04ACGAYTSA8QLLCuA6tiwegGfARQFopJLB//fH7+3Ar13n6xopDghyVo1mT4+Vnea7KRMKHCJTki4DAIAjKhXEVCiwG0AAAAASUVORK5CYII=') no-repeat center center; border-radius:50%; @include transition(ease-out); }
            &.active { pointer-events: none; user-select:none; color:$lightBlue2; background: $white; border:solid 1px $faqsBxBorder; border-bottom:none; 
            &:after { transform: translateY(-50%) rotate(90deg); @include transition(ease-in); }
            }
        }
        section { 
            display:none; width:100%; float:left; background: $white; padding:1rem; border:solid 1px $faqsBxBorder; border-top:none;
            &.section {  }
            p {  width:100%; float:left; color: $darkBlue; font-size:1rem; font-weight:400;  }
            ul {
                width:100%; float:left;
                li { list-style:disc; margin:3px 0 3px 20px; color: $darkBlue; font-size:1rem; font-weight:400;  }
            }
        }
    }
}



@media only screen and (max-width:1023px) 
{

    .faqscontainer {  
        h2 { font-size:1.6rem;  }
        p {  font-size:1rem; }
        ul { 
            flex-wrap:wrap;
            li {
                width:100%; margin: 0 0 0.5rem 0; padding:1rem; 
                img {  margin-right:1rem; }
                aside { 
                    b { font-size:1.2rem; }
                    span { font-size:0.9rem; }
                }
            }
        }
    }


}


@media only screen and (max-width:767px) 
{

    .faqsholder { 
        .faqshead {
             margin:1.5rem 0 0.1rem 0;
            aside { 
                img { margin-right:1rem; padding:0.5rem; }
                span {  font-size:1.2rem;  }
            }
        }
        .faqsbody {
            aside { 
                padding:1rem 3rem 1rem 1rem; font-size:1rem; 
                &:after { right:7px; width:27px; height:27px; line-height:1; }
            }
            section { 
                display:none; width:100%; float:left; background: $white; padding:1rem; border:solid 1px $faqsBxBorder; border-top:none;
                &.section {  }
                p {  width:100%; float:left; color: $darkBlue; font-size:1rem; font-weight:400;  }
                ul {
                    width:100%; float:left;
                    li { list-style:disc; margin:3px 0 3px 20px; color: $darkBlue; font-size:1rem; font-weight:400;  }
                }
            }
        }
    }
}

@media only screen and (max-width:599px) 
{
    .faqswraps { padding:0 0 3rem 0;}

    .faqscontainer {  
        h2 {  text-align:center; }
        p {  text-align:center; }
    }


}


@media only screen and (max-width:479px) 
{
    .faqsholder { 
        .faqshead {
            flex-wrap:wrap; margin:2rem 0 0rem 0;
            aside { 
                width:100%; float:left;
                img {  margin-right:1rem; padding:0.6rem; }
                span {  font-size:1.2rem; }
            }
            p { 
                width:100%; float:left; margin:1rem 0 0.2rem 0;
                @include display(space-between, center);
            }
        }
        .faqsbody {
            aside { 
                margin-top:0.5rem;  padding:0.5rem 3rem 0.5rem 0.5rem; font-size:0.9rem; 
            }
            section { 
                 padding:0.5rem;  
                p { font-size:0.9rem;   }
                ul {
                    li { font-size:0.9rem;  }
                }
            }
        }
    }
}