@import "parts/_normalize.scss";
@import "parts/_fonts.scss";
@import "parts/_fontawesome.scss";
@import "parts/_var.scss";
@import "parts/_mixin.scss"; 
@import "parts/_header.scss";
@import "parts/_footer.scss";
@import "parts/_banners.scss";
@import "parts/_box.scss"; 
@import "parts/_slick.scss"; 
@import "parts/_ourpeople.scss"; 


.latestatHere { 
    padding:3rem 0; width:100%; float:left; background:$lightBlue; overflow: hidden;
    .latestatHereInner { 
        display: flow-root; position: relative; width:95%; max-width:1300px; margin:0 auto; 
        h2 {  
            width:100%; float:left; text-align:center; font-size:1.8rem; color: $white; font-weight:700;
        }
     }
}
.latestatHereSlider { width: 100%; float: left; margin: 0 !important; padding: 0 0 2rem 0; display: flex; flex-wrap:nowrap; justify-content:center;  overflow: visible;}
.latestatHereSlider .slick-list{padding:1rem 0 !important; }
.latestatHereSlider .slick-track{display: flex !important; justify-content:space-between; }
.latestatHereSlider .slick-slide { 
    height: inherit !important; position:relative;  display: flex !important; justify-content: center; align-items: top; background: $white; margin: 0 10px; 
    &:before { opacity:0;  content:''; position:absolute; top:0; left:0; z-index:2; width: 100%;height: 7px; background: $darkBlue; @include transition(ease-out); }
    .items { 
        border:none;
        img { width:100%; }
        .item { 
            width:100%; float:left; padding: 1.5rem 5% 1rem 5%; 
            h4 { width:100%; float:left; color:$btnBG; font-size:1.2rem; font-weight:700;  }
            p { width:100%; float:left; padding:1rem 0 1.5rem 0; color:$lightBlack; font-size:1rem; font-weight:400;  }
            aside { 
                width:100%; float:left;
                a { @include display(left, center); float: left; text-decoration:none; color:$lightBlack; font-size:0.8rem; font-weight:400; 
                    span { @include display(center, center); margin-right: 1rem; width:36px; height:36px; border-radius:50%; background: $darkBlue; color: $white; }
                }
            }
        }
    
    }
    &:hover{
        &:before { opacity:1; @include transition(ease-in); }
     }
}
.latestatHereSlider .slick-dots li { 
    background: $white;  
    &:li.slick-active { background:$slickbullet; }
}
.latestatHereSlider .slick-arrow:before { color: $white;  }
.latestatHereSlider .slick-arrow:hover:before { color:$slickbullet; } 
 


@media only screen and (max-width:1565px) 
{
 
 

    .latestatHere .latestatHereInner h2 {  font-size: 1.7rem; }
    .latestatHereSlider .slick-slide .items .item h4 { font-size: 1.1rem; }
    .latestatHereSlider .slick-slide .items .item p { font-size: 0.9rem; padding: 0.5rem 0 1rem 0; }
    .latestatHereSlider .slick-slide .items .item aside a span { margin-right: 0.5rem;width: 30px;height: 30px; }

}


 

@media only screen and (max-width:767px) 
{
 
    .latestatHereSlider { padding: 0 0 0.7rem 0;  }
}
 
@media only screen and (max-width:479px) 
{
 
    .latestatHereSlider .slick-list {padding:5px 40px 5px 20px !important; }
    .latestatHereSlider .slick-slide { margin: 0 8px;  }

    
    
}

