/* error  === start */
.errorWrap {
    padding:6rem 0; width:100%; float:left; background: $lightBlue2;
    .errorContainer{
         float:none; position: relative; width:95%; max-width:1372px; margin:0 auto;
         @include display(space-between, flex-start);
         .errorText {
            width:45%;  
            h2 { width:100%; font-size:80px; line-height: 1; color:$white;  font-weight:bold; font-family:'latoheavy';  }
            h3 { width:100%; padding:0.1rem 0 1.5rem 0;  font-size:40px; color:$white; font-weight:bold; font-family:'latoheavy'; line-height:1.2; }
            p { width:100%; font-size:20px; color:$white; font-weight:700; font-family:'latobold'; }
            aside { 
                width:100%; float:left; margin-top:2.5rem; 
                a { 
                    display:inline-block; background: $darkBlue; padding:15px 20px; font-weight:600;  font-family:'latosemibold'; font-size:14px; line-height:1; letter-spacing:2px; text-transform:uppercase; color: $white; cursor:pointer; @include transition(ease-out); @include display(center, center); display: inline-flex;
                    b{ margin-left:5px; @include transition(ease-out); display:inline-block; font-size:0; width:8px; height:8px; background:url('../Images/go-white.png') no-repeat left top; background-size:100% 100%; }
                    &:hover { 
                        background: $darkBlue2; padding:15px 15px 15px 20px; @include transition(ease-in);
                        b { margin-left:10px; @include transition(ease-in); } 
                    }
                }
            }
         }
         .errorothersecton {
            width:50%; 
            h2 { width:100%; padding:0 0 1.5rem 0;  font-size:24px; color:$white;  font-weight:700; font-family:'latobold'; }
            ul {
                width:100%; float:left; @include display(space-between, flex-start);
                li {
                    position:relative; width:48%; list-style:none; display:inline-block;
                    img { width:100%; }
                    p { z-index:2; position:absolute; bottom:1rem; left:5%; width:90%; font-size:24px; color:$white;  font-weight:700; font-family:'latobold';  }
                    &:after { content:''; z-index:1; position:absolute; bottom:0; left:0; width:100%; height:100%;  background: transparent linear-gradient(0deg, #000 0%, #54545400 35%) 0% 0% no-repeat padding-box;  }
                }
            }
         }
    }
}


@media only screen and (max-width:1255px)
{
    /* error  === start */
    .errorWrap {
        padding:4rem 0;  
        .errorContainer{
             .errorText {
                h2 { font-size:66px;  }
                h3 { font-size:24px; padding: 0.1rem 0 1rem 0; }
                p { font-size:18px; }
                aside { margin-top:1.5rem; }
             }
             .errorothersecton {
                h2 { font-size:20px;  padding: 0 0 1rem 0; }
                ul {
                    li {
                        p { font-size:18px;   }
                    }
                }
             }
        }
    }
}


@media only screen and (max-width:1023px)
{
    /* error  === start */
    .errorWrap { padding: 3rem 0; }
}


@media only screen and (max-width:767px)
{
    /* error  === start */
    .errorWrap {
        padding:2rem 0;
        .errorContainer{
            width: 90%; flex-wrap:wrap; justify-content:center;
            .errorText {width:100%;}
            .errorothersecton {width:100%; margin-top:4rem; }
        }
    }
}

@media only screen and (max-width:479px)
{
    /* error  === start */
    .errorWrap {
        .errorContainer{
              .errorText {
                h2 {  font-size:80px; }
                h3 { font-size:36px; padding-bottom:1.5rem; }
                aside { margin-top: 2rem; }
             }
             .errorothersecton {
                h2 { font-size:24px; padding: 0 0 0.5rem 0; }
                ul {
                    flex-wrap:wrap; justify-content:center;
                    li {
                        width:100%; margin-top:1rem;
                        p {
                            font-size: 24px;
                        }
                    }
                }
             }
        }
    }
}