.latestatHere { 
    padding:2rem 0 3rem 0; width:100%; float:left; background:$lightBlue; overflow: hidden;
    .latestatHereInner { 
        display: flow-root; position: relative; width:95%; max-width:1372px; margin:0 auto; 
        h2 {  
            width:100%; float:left; margin-bottom: 1rem; text-align:center; font-size:30px; color: $white; font-weight:600; font-family:'latosemibold';
        }
     }
}
.latestatHereSlider { width: 114%; float: left; margin: 0 !important; padding: 0 0 1rem 0;
    @include display(center, flex-start); flex-wrap:nowrap; overflow: visible;}
.latestatHereSlider .slick-list{ padding:1rem 180px 1rem 0px !important; }
.latestatHereSlider .slick-track{display: flex !important; justify-content:space-between; }
.latestatHereSlider .slick-slide { 
    height: inherit !important; position:relative;  display: flex !important; justify-content: center; align-items: top; background: $white; margin: 0 10px; 
    &:before { opacity:0;  content:''; position:absolute; top:0; left:0; z-index:2; width: 100%;height: 7px; background: $darkBlue; @include transition(ease-out); }
    .items { 
        border:none;
        img { width:100%; }
        .item { 
            width:100%; float:left; padding: 1.5rem 5% 1rem 5%; 
            h4 { width:100%; float:left; color:$btnBG; font-size:20px; font-weight:700; font-family:'latobold'; }
            p { width:100%; float:left; padding:1rem 0 1.5rem 0; color:$lightBlack; font-size:16px; font-weight:400; font-family:'latoregular'; }
            aside { 
                width:100%; float:left;
                a { @include display(left, center); float: left; text-decoration:none; color:$lightBlack; font-size:14px; font-weight:400; font-family:'latoregular';  letter-spacing:2px; @include transition(ease-out);    
                    span { 
                        @include display(center, center); margin-right: 0.6rem; width:36px; height:36px; border-radius:50%; background: $darkBlue; color: $white; @include transition(ease-out); 
                        b { display:inline-block; font-size:0; width:10px; height:10px; background:url('../Images/go-white.png') no-repeat left top; background-size:100% 100%; }
                    }
                    &:hover { 
                        @include transition(ease-in); color:$darkBlue;
                        span { 
                            background: $darkBlue2;  margin-right: 1rem; @include transition(ease-out); 
                        }
                    }
                }
            }
        }
    }
    &:hover{
        @include transition(ease-in);
        &:before { opacity:1; @include transition(ease-in); }
     }
}
.latestatHereSlider .slick-dots li { 
    background: $white;  
    &:li.slick-active { background:$slickbullet; }
}
.latestatHereSlider .slick-arrow:before { color: $white;  }
.latestatHereSlider .slick-arrow:hover:before { color:$slickbullet; } 
 


@media only screen and (max-width:1565px) 
{
    .latestatHereSlider { width: 100%;  }
    .latestatHereSlider .slick-list{ padding:1rem 80px 1rem 0px !important; }
    .latestatHereSlider .slick-slide .items .item p { padding: 0.5rem 0 1rem 0; }
    .latestatHereSlider .slick-slide .items .item aside a span { margin-right: 0.5rem;width: 30px;height: 30px; }

}

@media only screen and (max-width:1255px) 
{
    .latestatHereSlider .slick-list{ padding:1rem 50px 1rem 0px !important; }

    .latestatHere .latestatHereInner h2 {  font-size: 24px;  }
    .latestatHereSlider .slick-slide .items .item h4 {  font-size: 18px;    line-height: 1.2; }
    .latestatHereSlider .slick-slide .items .item p { font-size: 16px; }
    .latestatHereSlider .slick-slide .items .item aside a { font-size: 12px; }

}
 
@media only screen and (max-width:1023px) 
{
    .latestatHereSlider .slick-list{ padding:1rem 30px 1rem 0px !important; }
}

@media only screen and (max-width:767px) 
{
 
    .latestatHereSlider { padding: 0 0 0.7rem 0;  }
}

@media only screen and (max-width:599px) 
{
    .latestatHereSlider .slick-list{ padding:1rem 20px 1rem 0px !important; }
}
 
@media only screen and (max-width:479px) 
{
 
    .latestatHereSlider .slick-list {padding:5px 40px 5px 15px !important; }
    .latestatHereSlider .slick-slide { margin: 0 8px;  }

    
    
}

