



/* #################### main termandpolicy  #################### */
.termandpolicy  {  position:relative; width:100%; float:left; background:$termBg;  background:-webkit-linear-gradient(90deg, $termBg 50%, $white 50%); background:linear-gradient(90deg, $termBg 50%, $white 50%); }
.termandpolicy .termpolicyInner {  width:95%; max-width:1372px; margin:0 auto; float:none;  @include display(flex-start, flex-start); }
.termleft { 
    position:relative; padding:3rem 1rem 3rem 0; width:25%; float:left; background:$termBg; 
    ul {
        width:auto; float:left; position: fixed;  
        li{
            list-style:none; margin:0 0 1.5rem 0;
            a {
                font-size:16px;  color:$black; font-weight:700; font-family:'latobold';
                &.active { color:$darkBlue; }
            }
        }
    }
}
.termright { 
    padding: 1rem 0 3rem 5rem; width:75%; float:right; background:$white;  
    h2 { width:100%; float:left;  margin:0.5rem 0 1.5rem 0; font-size:30px;  color:$lightBlack; font-weight:700; font-family:'latobold'; }
    h3 { width:100%; float:left; margin:0 0 0.7rem 0; font-size:18px;  color:$lightBlack; font-weight:700; font-family:'latobold'; }
    p { width:100%; float:left; margin:0 0 2rem 0; font-size:16px;  color:$lightBlack; font-weight:400; font-family:'latoregular'; text-align: justify; line-height: 1.4; 
        a { color:$darkBlue;
        &:hover { color: $black2; }
        }
    }
    ul {
        width:100%; float:left; margin:0 0 2rem 0;
        li { list-style:disc; margin: 0 0 7px 18px; font-size:16px;  color:$lightBlack; font-weight:400; font-family:'latoregular';  }
    }
}

.privacytable { 
    width:100%; float:left;
    table {
        width:100%; float:left; margin:0 0 2rem 0;  border-collapse: collapse; border: none;
        th {
            vertical-align: middle;
            padding:0.5rem 1rem; background:$termTableBorder;border:solid 1px $termTableBorder;     text-align: left; font-weight:700; font-family:'latobold'; font-size:16px; color:$black;
        }
        td{
            vertical-align: top;
            padding:0.5rem 1rem; background:$white; border:solid 1px $termTableBorder; text-align: left;  font-weight:400; font-family:'latoregular'; font-size:16px; color:$lightBlack;
            &:first-child { width:40%; }
        }
    }
    p { text-align:left; margin: 0; }
    ul { margin:0; }
 }




@media only screen and (max-width:1565px) 
{

    .termright { 
        h2 {  margin-top:0; }
    }
}

@media only screen and (max-width:1255px) 
{
    .termleft { width: 30%; }
    .termright {  
        width: 70%; padding: 1rem 1rem 2rem 2rem; 
        h2 { font-size:24px;  }
    }
 
}

@media only screen and (max-width:1023px) 
{
    .termandpolicy .termpolicyInner { width: 100%; }
    .termleft { display:none; }
    .termright { 
        width:100%; padding: 1rem 2%;
        .termright h2 {margin: 0 0 2rem 0; }
    }
}

@media only screen and (max-width:767px) 
{
    .termright {  
        padding: 1rem 3%;
    }
}

@media only screen and (max-width:599px) 
{
    .termright {  
        padding: 1rem 4%;
    }

    .privacytable { 
        overflow:hidden; overflow-x: scroll;
        table { width:600px; }
    }
}

 