
/* #################### main banners  #################### */
.mainbanner  { 
    position:relative; width:100%; float:left; 
    .bannersection {
        position:relative; width:100%; float:left;  
        .banner_web { display:block; width:100%; }
        .banner_ipad { display:none; width:100%; }
        .banner_mobile { display:none; width:100%; }
        .bannerinner { 
            z-index:2; position:absolute; top:0; left:50%; transform:translateX(-50%); width:95%; max-width:1372px; height: 100%; 
        }
    }
}

/* home block */
.home-block { 
    z-index:3; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:95%; max-width:1372px; 
    .makehistory_web {
        display:block; width:100%; float:left; text-align:left; margin-top:1rem;
        img { max-width:247px; display:inline-block; margin:0 auto; }
    }
    .makehistory_mob  {
        display:none; width:100%; float:left; text-align:center; margin-bottom: 0.5rem;
        img { max-width:180px; display:inline-block; margin:0 auto; }
    }
    h2 {  
        width:100%; float:left; font-size:56px; color: $white;  line-height:1.1;  
        span { display:block; margin-bottom:12px; font-weight:300; font-family:'latolight';   }
        strong { font-weight:700; font-family:'latobold'; }
    }
    p{
        width:100%; float:left; margin-top:1.5rem; 
        a { 
             background: $darkBlue; padding:21px 26px; font-weight:600; font-family:'latosemibold'; font-size:14px; line-height: 1; letter-spacing:2px; text-transform:uppercase; color: $white; cursor:pointer; @include transition(ease-out);
            @include display(center, center); display: inline-flex;
            b { margin-left:5px; @include transition(ease-out); display:inline-block; font-size:0; margin-top:-2px; width:10px; height:10px; background:url('../Images/go-white.png') no-repeat left top; background-size:100% 100%; }
            &:hover {  
                background: $darkBlue2; padding-right:21px; @include transition(ease-in);
                b { margin-left:10px; @include transition(ease-in); } 
            }
        }
    }
}
 
/* contactus block */
.mainbanner.contactus:before { content:''; z-index:1; position:absolute; top:0; left:0; width:100%; height:100%; background: transparent linear-gradient(90deg, #000000 0%, #54545400 100%) 0% 0% no-repeat padding-box; }
.contactus-block { 
    z-index:3; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:95%; max-width:1372px; 
    h2 {  width:100%; max-width: 450px; clear:both; font-size:45px; color:$white;  font-weight:700; font-family:'latobold';   } 
    p {  width:100%; max-width: 450px; clear:both; padding: 2.5rem 0; font-size:18px; color:$white;  font-weight:500; font-family:'latomedium'; }
    aside { 
         width:100%; max-width: 450px;  clear:both;
        a { 
            text-decoration:underline; font-size:18px; color:$white; font-weight:600; font-family:'latosemibold'; @include transition(ease-out);
            &:hover { text-decoration:none; @include transition(ease-in); }
        }
    }
}
 
/* aboutusb block */
.aboutus-block { 
    z-index:3; position:absolute; top:50%; left:0; width:auto; transform: translateY(-50%);
    h2 {  width:100%; font-size:45px; color:$white; font-weight:900; font-family:'latoblack'; }
}


/* applicaton block */
.mainbanner.applicaton { margin-top:50px; }
.applications-block { 
    z-index:3; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:95%; max-width:1372px;
    h2 {  width:100%; font-size:56px; color:$white;  font-weight:700; font-family:'latobold'; }
    p {  width:100%; font-size:56px; color:$white;  font-weight:300; font-family:'latolight'; }
}



/* exploreopportunity block */
.mainbanner.exploreopportunity { 
    h2 {  z-index:3; position:absolute; top:50%; left:0; width:auto; transform: translateY(-50%); width:100%; font-size:56px; color:$white; font-weight:700; font-family:'latobold'; }
}




/* faq block */
.faqsheadingMobile { display:none; }
.faqs-block { 
    z-index:3; position:absolute; top:50%; left:50%; transform:translate(-50%, -40%); width:95%; max-width:1372px; 
    .faqsinner-block {
        width:100%; max-width:600px; float:left;
        h2 { width:100%;float:left; font-size:30px; color:$black; font-weight:700; font-family:'latobold'; } 
        input[type='text'] { width:100%;float:left;margin:0.7rem 0; padding:1rem 2rem; @include borderradius(40px); border:none; outline:none; font-size:18px; color:$lightBlack; font-family:'latoregular';
            background:#fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABu0lEQVRYR+2VSytFURiGz3GJoUvhF1CGLgkTihEGUgxNDch1QJli4lLKH5ABM3IpQgYUf8Fl4hpTxMTlebVOncHZe62tfZzUXvW0Tmvv837v+b71fScey/CKZzh+LDIQZSDKQJAMFNOyA9AO5ZAFV7ADi/Dwm5Z2NdCB+DIUeAR55bwPVoKacDGgX7wO2bALs3AKn1ANg9BlAvcao84+bAYKUbqEIpiCSQ/lIc4X4M2U59bVgc3ABELTcACt8OUjvMqzHpiH0bAMnCDUACrDtkW0zpTmnL0iLAOPCJVAKTxZRHN4/m6ylM/+4WLCVgK1VplBZvxWbpKBvLAMHCPUCGrDLccSXPCe5oTTsmVgHJUZOIQWk14v4TUedMMcjDlF5yWbAQ0etaGmoLpBbZiqE4Y51+1/gUq4CcuAdNpgAzSI9kCD6Ax0yWpAg6jTBLxmr4f7MA1IS22oUazBlGo9m6BqP92BJlcTthIkB9M07AddSF0ytZ3+jDZhCTQF96EqiIkgBlyyqjujMtUaE83sd35fDNuAYqlMiUwc8VkmPFc6DCRM6M6MmEz8uQGXcv28k64MRAaiDPyfDHwD1jVOIZcvW0YAAAAASUVORK5CYII=') no-repeat; background-position:right 10px center;
        }
        p { width:100%;float:left; line-height: 1.4; font-size:18px; color:$black; font-family:'latoregular'; }
    }
}






@media only screen and (max-width:1565px) 
{
    /* home block */
    .home-block { 
        h2 {  font-size:42px; }
    }



    /* aboutusb block */
    .aboutus-block { 
        transform: translateY(-25%);
        h2 {  font-size:36px;  }
    }

    /* exploreopportunity block */
    .mainbanner.exploreopportunity { 
        h2 { font-size:48px; }
    }

    

    /* applicaton block */
    .applications-block { 
        transform: translate(-50%, -30%);
        h2 { font-size:42px; }
        p { font-size:42px; }
    }

}

@media only screen and (max-width:1300px) 
{
    /* faq block */
    .faqs-block { 
        .faqsinner-block {
            max-width:500px; 
            h2 { font-size:24px;  } 
            input[type='text'] { margin:0.5rem 0; padding:0.7rem 2rem 0.7rem 1rem; font-size:16px;}
            p { font-size:16px; }
        }
    }
}

@media only screen and (max-width:1255px) 
{
    /* home block */
    .home-block {  
        h2 {  font-size:30px; }
        p {  margin-top: 1rem; }
    }
    
    /* faq block */
    .faqs-block { 
        transform: translate(-50%, -32%); 
        .faqsinner-block {
            input[type='text'] { margin: 0.2rem 0; }
        } 
    }

    /* applicaton block */
    .mainbanner.applicaton { margin-top:39px; }

    /* applications block */
    .mainbanner.applicaton { margin-top:38px; }
    .applications-block { 
        h2 { font-size:30px; }
        p { font-size:30px; }
    }
}

@media only screen and (max-width:1023px) 
{
    .mainbanner{
        .bannersection{
            .banner_web { display:none;   }
            .banner_ipad { display:block;  }
            .banner_mobile { display:none;   }
        }
        
    }

    /* faq block */
    .faqs-block { 
        transform: translate(-50%, -50%); 
        .faqsinner-block { max-width: 350px;} 
    }

    /* applications block */
    .mainbanner.applicaton { margin-top:31px; }
    .applications-block { 
        h2 { font-size:28px; }
        p { font-size:28px; }
    }


    /* contactus block */
    .contactus-block { 
        h2 {  font-size:32px;  } 
        p { padding: 1.5rem 0; font-size:16px;  }
        aside  a { font-size:16px; }
    }
 


}



@media only screen and (max-width:767px) 
{
    /* home block */
    .home-block {
        .makehistory_web {
            margin-top:1rem;
            img { max-width:180px; }
        }
        h2 {font-size:28px;}
        p {margin-top: 0.5rem;}
    }


    /* contactus block */
    .contactus-block { 
        h2 {  max-width: 350px; } 
        p {  max-width: 350px;   }
        aside { max-width: 350px;  }
    }

    /* aboutusb block */
    .aboutus-block { 
        transform: translateY(-50%);
    }

    /* exploreopportunity block */
    .mainbanner.exploreopportunity { 
        h2 { font-size:36px; }
    }

}


@media only screen and (max-width:599px) 
{

    /* home block */
    .home-block {
        .makehistory_web {margin-top: 0.5rem;}
        h2 {font-size:22px;}
        p {margin-top: 0.5rem;}
    }

    /* faq block */
    .mainbanner.faqsbanner:before { content:''; z-index:1; position:absolute; top:0; left:0; width:100%; height:100%; background: transparent linear-gradient(90deg, #000000 0%, #54545400 100%) 0% 0% no-repeat padding-box; }
    .faqsheadingMobile { 
        display:block; z-index:3;  position:absolute; top:50%; left:5%; width:auto; transform: translateY(-50%); font-size:24px; line-height:1.1; color: $white; font-weight:700; font-family:'latobold';
        span { display:block; }
    }
    .faqs-block { 
        position: relative;left: 0;top: 0; transform: translate(0%, 0%); float:left; width:100%; padding:2rem 5%; background:$white;
        .faqsinner-block {
            max-width: 100%;
            h2 { display:none; }
            input[type='text'] { margin:0 0 1rem 0; padding:0.8rem 2rem 0.8rem 1rem; background-color: $whiteLight; }
            p { text-align:center; }
        } 
    }

    
}

@media only screen and (max-width:479px) 
{
    .mainbanner{
        .bannersection{
            .banner_web { display:none;   }
            .banner_ipad { display:none;  }
            .banner_mobile { display:block;   }
        }
    }

    /* home block */
    .mainbanner.home {background:$homebg;}
    .mainbanner.home.discover {background:$white; }
    .home-block {
        position: relative;top: 0; left: 0; transform: translate(0%, 0%);width: 90%; margin:-70px 5% 0 5%; height: auto; float: left; background:$btnBG; border-top: solid 5px $lightBlue2; padding: 1rem;
        .makehistory_web { display:none; }
        .makehistory_mob { display:block; }
        h2 { 
            font-size: 19px; text-align: center;
            span { font-size:19px; margin-bottom: 6px; }
            strong { font-size:27px; }
            &.pmidiscover { 
                margin-top:1rem;
                span { margin-top:1rem; }
            }
        }
        p {
            margin-top:1rem; text-align: center;
            a {
                background:$lightBlue2; color:$white; padding:1rem 1.7rem 1rem 1.4rem; font-size: 0.7rem;letter-spacing: 1px;
                &:hover { padding:1rem 1.4rem;}
            }
        }      
    }


    /* contactus block */
    .contactus-block { 
        z-index: 3;position: relative;top: 0;left: 0; transform: translate(0%, 0%);width: 100%; background:$white; padding: 3rem 2rem; float: left;
        h2 {  max-width:100%; text-align:center; color: $lightBlack; font-size:24px;  font-weight:500; font-family:'latomedium'; } 
        p { max-width:100%; text-align:center; color: $lightBlack2; font-size:18px; padding:1rem 0; font-weight:400; font-family:'latoregular'; }
        aside { 
            max-width: 100%; text-align:center;
            a { color: $lightBlack2; font-size:18px;  }
        }
    }


    /* aboutusb block */
    .mainbanner.aboutus:before { content:''; z-index:1; position:absolute; top:0; left:0; width:100%; height:100%; background:transparent linear-gradient(90deg, #000000B7 0%, #54545400 100%) 0% 0% no-repeat padding-box; }
    .aboutus-block { 
        h2 {  font-size:30px;  }
    }

 
    /* applicaton block */
    .mainbanner.applicaton { background:$whiteLight;  }
    .applications-block { 
        position: static; left: 0; top: 0; transform:translate(0, 0); width: 90%;
        background:$darkBlue; margin: 0 auto;  margin-top: -40px; padding: 1.5rem 1rem; border-top:solid 5px $lightBlue2; 
        h2 { text-align:center; font-size:27px; }
        p { text-align:center; font-size:24px; }
    }

    /* exploreopportunity block */
    .mainbanner.exploreopportunity { 
        h2 { font-size:32px;  font-weight:bold; font-family:'latoheavy'; }
    }

 



}