
.bannerhome {
     width: 100%; float: left; background:$ong1; 
    .bannerhomeslider { 
        position:relative; width: 100%; float: left; margin: 0 !important;
        .slides { 
            position:relative; width: 100%; float: left;
            img { width: 100%;}
            .bannerhomescontent { 
                z-index: 2; position:absolute; left:50%; top:35%; transform: translateX(-50%); width: 96%;max-width: 1640px;float: none;margin: 0 auto;  
                div {
                    float: left; width: auto;
                    h2 { float: left; width: 100%; text-align: left; @include eurostile(); font-size: 56px; line-height:1.2; letter-spacing:3.36px; color: $wht1;  text-transform: uppercase;  }
                    h3 {float: left; width: 100%; margin:0.3rem 0 1rem 0; text-align: left; font-size: 20px; line-height:60px; color: $wht1; @include aBold(); text-transform: uppercase;  }
                    p { 
                        float: left; width: 100%;text-align: left;
                        a { 
                            display: inline-block; width:auto; text-align: center; text-decoration: none; @include outT(); padding:12px 25px; border:none; background-color:$blu1; color: $wht1; @include eurostile(); font-size:16px; list-style:20px; letter-spacing:0.4px; text-transform: uppercase;
                            &:hover {  @include inT(); background-color:$blk1;  color: $wht1; }
                        }
                    }
                }
            }
        } 
        
    }
}