

.boxpart { 
    padding:3rem 0; width:100%; float:left; background:$homebg; overflow: hidden;
    .boxpartInner { 
        display: flow-root; position: relative; width:95%; max-width:1300px; margin:0 auto; 
        .boxpartWEB { display:block; width:80%; float: right; }
        .boxpartMOB { display:none; }
        div 
        { 
            position:absolute; top:50%; left:0; z-index:2; transform:translateY(-50%); background:$white; width:45%; padding:2.5rem;
            h2 {  
                width:100%; float:left; font-size:1.8rem; color:$lightBlack; font-weight:700;
            }
            h3 {  
                 width:100%; float:left; margin:1rem 0; font-size:1.2rem; line-height: 1.4; color:$lightBlack2; font-weight:400;
            }
            p{
                width:100%; float:left; 
                a { 
                    display:inline-block; background:$darkBlue; padding:1rem 1.2rem; font-weight:700; font-size:0.8rem; letter-spacing: 2px; text-transform:uppercase; color:  $white; cursor:pointer; @include transition(ease-out);
                    b{ font-weight:400; margin-left:0.3rem; @include transition(ease-out); }
                    &:hover { 
                        padding:1rem 0.9rem 1rem 1.2rem; @include transition(ease-in);
                        b { margin-left:0.6rem; @include transition(ease-in); } 
                    }
                }
            }
        }
    }
}
 


@media only screen and (max-width:1565px) 
{
    .boxpart .boxpartInner div h2 { font-size: 1.6rem; }
    .boxpart .boxpartInner div h3 {  font-size: 1rem; }


}

@media only screen and (max-width:1300px) 
{
.boxpart .boxpartInner div {padding: 1.5rem;}
}


@media only screen and (max-width:1023px) 
{
    .boxpart.discover {
        padding-top:0;
    }
    .boxpart .boxpartInner {
        width: 100%;display: flex;flex-wrap: wrap; flex-direction: column;
        .boxpartWEB { width: 100%;}
        div {
            position: relative;top: 0;left: 0; transform: translateY(0);width: 90%;padding: 1.5rem;float: left;margin: 0 5%;margin-top: -100px; 
            h2{text-align:center;}
            h3{text-align:center;}
            p {text-align: center;}
        }
    }
    
}

 
@media only screen and (max-width:479px) 
{

    .boxpart .boxpartInner {
         div { padding: 1rem; margin-top: -50px; }
         .boxpartWEB { display:none;  }
        .boxpartMOB { display:block;  }
    }
 
}

