@font-face {
    font-family:'arial';
    src: url('../fonts/arial.woff2') format('woff2'), url('../fonts/arial.woff') format('woff');
    font-weight:300; 
    font-style:normal;
    font-stretch:normal;
    font-display: swap;
}
@font-face {
    font-family:'arialmedium';
    src: url('../fonts/arial-medium.woff2') format('woff2'), url('../fonts/arial-medium.woff') format('woff');
    font-weight:500; 
    font-style:normal;
    font-stretch:normal;
    font-display: swap;
}
@font-face {
    font-family:'arialbold';
    src: url('../fonts/arial-bold.woff2') format('woff2'), url('../fonts/arial-bold.woff') format('woff');
    font-weight:bold; 
    font-style:normal;
    font-stretch:normal;
    font-display: swap;
}

@font-face {
    font-family:'eurostilebold';
    src: url('../fonts/eurostile-bold.woff2') format('woff2'), url('../fonts/eurostile-bold.woff') format('woff');
    font-weight:bold; 
    font-style:normal;
    font-stretch:normal;
    font-display: swap;
}


  @mixin Arial {
    font-family:'arial', Arial, sans-serif;
    font-weight: 300;
  }
  @mixin aMedium {
    font-family:'arialmedium', Arial, sans-serif;
    font-weight: 500;
  }
  @mixin aBold {
    font-family:'arialbold', Arial, sans-serif;
    font-weight: bold;
  }
  @mixin eurostile {
    font-family:'eurostilebold', Helvetica, sans-serif;
    font-weight: bold;
  }

  @mixin FA {
    font-family: 'FontAwesome';
    font-weight: 400;
  }
/*
  @include Arial();
  @include aMedium();
  @include aBold();
  @include eurostile();
  @include FA();
*/