@font-face {
    font-family:'latoheavy';
    src: url('../fonts/Lato-Heavy.woff2') format('woff2'), url('../fonts/Lato-Heavy.woff') format('woff');
    font-weight:normal; /* bold */
    font-style:normal;
    font-stretch:normal;
}
@font-face {
    font-family: 'latomedium';
    src: url('../fonts/Lato-Medium.woff2') format('woff2'), url('../fonts/Lato-Medium.woff') format('woff');
    font-weight:normal; /* 500 */
    font-style:normal;
    font-stretch:normal;
}

@font-face {
    font-family:'latoblack';
    src: url('../fonts/Lato-Black.woff2') format('woff2'), url('../fonts/Lato-Black.woff') format('woff');
    font-weight:normal; /* 900 */
    font-style:normal;
    font-stretch:normal;
}
@font-face {
    font-family:'latobold';
    src: url('../fonts/Lato-Bold.woff2') format('woff2'), url('../fonts/Lato-Bold.woff') format('woff');
    font-weight:normal; /* 700 */
    font-style:normal;
    font-stretch:normal;
}

@font-face {
    font-family:'latosemibold';
    src: url('../fonts/Lato-Semibold.woff2') format('woff2'), url('../fonts/Lato-Semibold.woff') format('woff');
    font-weight:normal; /* 600 */
    font-style:normal;
    font-stretch:normal;
}

@font-face {
    font-family:'latoregular';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'), url('../fonts/Lato-Regular.woff') format('woff');
    font-weight:normal; /* 400 */
    font-style:normal;
    font-stretch:normal;
}
@font-face {
    font-family:'latolight';
    src: url('../fonts/Lato-Light.woff2') format('woff2'), url('../fonts/Lato-Light.woff') format('woff');
    font-weight:normal; /* 300 */
    font-style:normal;
    font-stretch:normal;
}
 

 