

.footer { 
    width: 100%; float: left; padding:3rem 0; background-color: $wht1;
    .wrapper { 
         max-width: 1440px; @include fBS();
        .footerleft {
            width: 300px; float: left; margin-right: 50px;
            aside { 
                width: 100%; float: left;
                img { max-width: 100%;}
            }
            dl {
                width: 100%; float: left; margin-top:1.5rem;  
                dt { 
                    width: 100%; float: left; margin-bottom:0.6rem;
                    a { 
                        display: inline-block; width:190px; text-align: center; text-decoration: none;@include outT(); padding:7px 0; border: solid 2px $ong1; background-color:$ong1; color: $wht1; @include eurostile(); font-size:14px; text-transform: uppercase;
                        &:hover {  @include inT(); background-color:$blu1; border-color:$blu1; color: $wht1; }
                    }
                }
                dd { 
                    width: 100%; float: left;
                    a { 
                        display: inline-block; width: 190px; text-align: center; text-decoration: none;@include outT(); padding:7px 0; border: solid 2px $ong1; background-color:$wht1; color: $ong1; @include eurostile(); font-size:14px;  text-transform: uppercase;
                        &:hover {  @include inT(); background-color:$blu1; border-color:$blu1; color: $wht1; }
                    }
                }
            }
            ul{
                width: 100%; float: left; margin-top:2.5rem; @include fSC();
                li{
                    list-style: none;  margin:0 25px 0 0;
                    a { 
                        text-decoration: none;@include outT(); color: $blu1; font-size: 24px; 
                        &:hover {  @include inT(); color:$ong1; }
                    }
                }
            }
            p { display: block; width: 100%; float: left; margin-top: 1rem; text-align: left; color: $blk2; font-size: 12px; @include Arial(); }
        }
        .footerright {
            width:100%; float:right;
            ul{
                width: 100%; @include fSS(); flex-wrap: wrap;
                li{
                    list-style: none; width:25%; padding:0.5rem 0;
                    h2 { width: 100%; float: left;  padding:0 0 5px 0; @include aBold(); color:$blu1;  font-size: 16px; }
                    h3 { 
                        width: 100%; float: left;  padding:0 0 5px 0; @include aBold(); color:$blu1;  font-size: 16px; 
                        a { 
                            text-decoration: none; color:$blu1; @include outT();  
                            &:hover { color:$ong1; @include inT(); }
                        }
                    }
                    ul {
                        width: 100%; float: left;
                        li { 
                            list-style: none; width: 100%; float: left; padding:3px 0;
                            a { 
                                text-decoration: none; @include Arial(); color:$blk2;  font-size: 16px;   @include outT();  
                                &:hover { color:$ong2; @include inT(); }
                            }
                         }
                    }
                }
            }
            h4{
               display: none;  width: 100%; float: left; margin-top:2.5rem; @include fSC();
                a { 
                    margin:0 25px 0 0; text-decoration: none; @include outT(); color: $blu1; font-size: 24px; 
                    &:hover {  @include inT(); color:$ong1; }
                }
            }
            p { display: none; width: 100%; float: left; margin-top: 1rem; text-align: left; color: $blk2; font-size: 12px; @include Arial(); }
        }
    }
}


@media only screen and (max-width:1255px) 
{
    .footer { 
        .wrapper { 
            flex-wrap: wrap;
            .footerleft {
                width: 100%;   margin-right: 0; margin-bottom: 1rem;
                aside {
                    img { width: 96px; }
                }
                dl {  margin-top: 0.5rem; }
                ul{ display: none; }
                p { display: none;  }
            }
            .footerright {
                ul{
                    li{
                        width:100%; padding:0; 
                        h2 { 
                            position: relative; padding:10px 0; border-bottom: solid 1px $blk8; color: $blk2; line-height:24px; text-indent: 0.3rem;
                            &:after { content: "\f067"; position: absolute; right:0.5rem; top: 50%; transform: translateY(-50%); font-size: 20px; color:$blk2; @include FA(); }
                            &.active { 
                                color: $ong1; border-bottom: none;
                                &:after { content: "\f068"; color: $ong1; }
                            }
                        }
                        h3 { 
                              padding:10px 0; border-bottom: solid 1px $blk8; color: $blk2;  line-height: 24px;  text-indent: 0.3rem;
                              &:last-child { border-bottom: none; }
                        }
                        ul {
                            display: none; padding: 0 0.3rem; margin-bottom: 0.5rem;
                            li { 
                                list-style: none; width: 100%; float: left; padding:3px 0;
                                a { 
                                    text-decoration: none; @include Arial(); color:$blk2;  font-size: 16px;   @include outT();  
                                    &:hover { color:$ong2; @include inT(); }
                                }
                             }
                        }
                    }
                }
                h4{ display: flex; }
                p { display: block;  }
            }
        }
    }
}