.header { position:relative; width:100%; padding:1rem 2% 1rem 2%; float:left; background:$white; overflowX:hidden; }
.header aside 
{ 
    position:relative; width:193px; float:left; 
    img { width:100%;}
    a { text-decoration:none; display:inline-block; }
    span { position: absolute; top:10px; right: -94px;font-weight: 400; font-size: 0.8rem; color:$superultralightBlack;}
}
 
.header nav 
{
    width:auto; float:left; margin: 25px 0 0 20px;
    ul {
        @include display(left, center);
        li{
            list-style:none; display:inline-block; margin-left:1.5rem;
            a{
                text-decoration: none; font-weight:700; font-size: 1rem; color: $lightBlack;  @include transition(ease-out);
                &:hover { color:$darkBlue; @include transition(ease-in); }
                &.active { color:$darkBlue; }
            }
            &:first-child { margin-left: 0; }
            &.navlastmenu { display:none; }
        }
        
    }
}

.header-right {
    overflow: hidden; position:relative; @include display(center, center);float:right; width:auto;     margin-top: 6px;

    .headerMenu { 
        cursor:pointer; position:relative; float:right;  display:none;
        span { position:absolute; width:100%; height:2px; background:$black; border-radius:2px;  } 
    }
    .headerMenu.open { 
        width:28px; height:14px;
        span {  right:0; @include transition(ease-out); } 
        span:nth-of-type(1) { top:0; }
        span:nth-of-type(2) { top:7px;  width:85%; }
        span:nth-of-type(3) { top:14px;  width:70%; }
    }
    .headerMenu.close { 
         width:22px; height:22px; 
        span {  top:50%; @include transition(ease-in); } 
        span:nth-of-type(1) {  left:0; transform: rotate(45deg); }
        span:nth-of-type(2) { display:none; }
        span:nth-of-type(3) { right:0; transform: rotate(-45deg); }
    }

    .headerApplication { 
        background:$darkBlue; padding: 0.7rem 1.2rem; font-weight:700; font-size:0.8rem; text-transform:uppercase; color:$white; cursor:pointer; @include transition(ease-out);
        b{ font-weight:400; margin-left:0.3rem; @include transition(ease-out); }
        &:hover { 
            padding: 0.7rem 0.9rem 0.7rem 1.2rem; @include transition(ease-in);
            b { margin-left:0.6rem; @include transition(ease-in); } 
        }
        &.active { 
            padding: 0.7rem 0.9rem 0.7rem 1.2rem;
            b { margin-left:0.6rem;}
        }
    }
    .headerSearch { 
        margin-left: 1rem; color:$lightBlack; font-size: 1.4rem; cursor:pointer; @include transition(ease-out);
        &:hover { 
            transform: scale(1.1);
            color:$darkBlue; @include transition(ease-in); 
        }
    }
}

.header-serch-box {
    display:block; z-index:5; opacity:1; position:absolute; right:-100%; top:0;  
    width:100%; height:100%; padding:0.5rem 0.5rem 0.5rem 3rem; float:left; background:$white; border:solid 1px $superultralightBlack;
    &:before { position: absolute; left:0.5rem;top: 50%;transform: translatey(-50%); content: "\f002"; font-family:'FontAwesome'; padding-right:0.5rem; margin-right:0.5rem; border-right: solid 1px $superultralightBlack; color:$ultralightBlack; font-size: 1rem; }
    input { outline: none; border:0; width:100%; color:$superultralightBlack; font-size:1rem; font-weight:400; }
}

.header-application-box { display:none; z-index:3; position:absolute; right:4%; top:75px; width:250px; background:$white;  box-shadow: 0px 0px 6px #00000029;
    &:before { 
        content: "\f0d8"; position: absolute; top:-30px; right:30px; font-family: 'FontAwesome'; color: $white; font-size: 40px; text-shadow: 0px -5px 6px #00000029;
    }
    .marketserch { 
        position:relative; padding:0.8rem 1rem 0.8rem 4rem; border-bottom:solid 1px $applicationbox;
        &:before { position: absolute; left: 1rem;top: 50%;transform: translatey(-50%); content: "\f002"; font-family:'FontAwesome'; padding-right:1rem; margin-right:1rem; border-right: solid 1px $superultralightBlack; color:$lightBlack;font-size: 1.2rem; }
        input { outline: none; border:0; width:100%; color:$superultralightBlack; font-size:1.2rem; font-weight:400; }
    }
    ul {
        padding:0.2rem 1rem 0.2rem 3.2rem;
        li{ margin: 0.7rem 0; cursor:pointer;
            list-style:none; @include display(left, center);
            img { width: 20px; margin-right: 0.7rem; }
            span { color:$lightBlack; font-weight:300; font-size:1rem;  @include transition(ease-out);  }
        &:hover {
            span { color:$darkBlue;  @include transition(ease-in);  }
        }
        }
    }
    h4 {
        background:$applicationbox;
        padding:0.8rem 1rem 0.8rem 3.2rem;
        text-align:left;
        a {color:$darkBlue;font-size:0.8rem;font-weight:700;text-transform: uppercase;text-decoration: none;}
    }
}


@media only screen and (max-width:1255px) 
{
    .header { padding:0.7rem 2%; }
    .header aside 
    { 
        width:138px;
        span {top:auto; bottom:2px; right:-75px; font-size:0.7rem; }
    }
    .header nav {
        display:none; z-index: 5;position: absolute; top:56px;left: 0;width: 100%;background:$white; margin:0px; 
        ul {
            width: 100%; padding: 2rem 7%; justify-content: flex-start; flex-direction: column;
            li {
                border-bottom:solid 1px rgba(112,112,112,0.5); margin: 0; width:100%;  float: left; display:block;
                a { 
                    width:100%; padding:1.2rem 0; float: left;
                }
            &.navlastmenu { 
                display:block; border-bottom:none;  
                a { 
                    width:auto; margin: 1.5rem 0 0 0; background:$white; border: 1px solid $darkBlue; padding:1rem 1.2rem; font-weight:700; font-size:0.8rem; letter-spacing: 2px; text-transform:uppercase; color: $darkBlue; cursor:pointer; @include transition(ease-out);
                    b{ font-weight:400; margin-left:0.3rem; @include transition(ease-out); }
                    &:hover { 
                        color:$lightBlack; border-color:$lightBlack;
                        padding:1rem 0.9rem 1rem 1.2rem; @include transition(ease-in);
                        b { margin-left:0.6rem; @include transition(ease-in); } 
                    }
                }
            }
            }
            
        }
    }
    .header-right { position:static; }
    .header-right .headerMenu { display:block; }
    .header-right .headerApplication { display:none; }

    .header-serch-box {
        display:none; right:0; top:57px; border:none; height: auto;
        width:100%; padding:1rem 2rem;  
        &:before { left:4rem; padding-right:1rem; margin-right:1rem; font-size: 1.4rem; }
        input { border: solid 1px #6E6E6E; padding:1rem 1rem 1rem 6rem;  }
    }
}

@media only screen and (max-width:599px) 
{
    .header { padding:0.7rem 3%; }
}


@media only screen and (max-width:599px) 
{
    .header { padding:0.7rem 4%; }
}