.header { z-index:5; position:fixed; top:0; left:0; right:0; width:100%; max-width:1920px; margin:0 auto; padding:1rem 0; float:none; background:$white;  }
.headerFixed { box-shadow:0px 0px 4px  0px rgba(0,0,0,0.1); }
.headercontainer { display: flow-root; position: relative; width:95%; max-width:1797px; margin:0 auto;  }
.header aside 
{ 
    position:relative; width:193px; float:left; 
    img { width:100%;}
    a { text-decoration:none; display:inline-block; }
    span { position: absolute; top:12px; right: -91px;font-weight:400; font-family:'latoregular'; font-size: 12px; color:$superultralightBlack;}
}
 
.header nav 
{
    width:auto; float:left; margin: 28px 0 0 20px;
    ul {
        @include display(left, center);
        li{
            list-style:none; display:inline-block; margin-left:1.5rem;
            a{
                text-decoration: none; font-weight:400;font-family:'latoregular'; font-size: 16px; color: $lightBlack;  @include transition(ease-out);
                &:hover { color:$darkBlue; @include transition(ease-in); }
                &.active { color:$darkBlue; }
            }
            &:first-child { margin-left: 0; }
            &.navlastmenu { display:none; }
        }
        
    }
    .menu-mobile-img { display:none; }
}

.header-right {
    overflow: hidden; position:relative; @include display(center, center);float:right; width:auto;     margin-top:5px;

    .headerMenu { 
        cursor:pointer; position:relative; float:right;  display:none;
        span { position:absolute; width:100%; height:2px; background:$black; border-radius:2px;  } 
    }
    .headerMenu.open { 
        width:28px; height:17px;
        span {  right:0; @include transition(ease-out); } 
        span:nth-of-type(1) { top:0; }
        span:nth-of-type(2) { top:7px;  width:85%; }
        span:nth-of-type(3) { top:14px;  width:70%; }
    }
    .headerMenu.close { 
         width:22px; height:22px; 
        span {  top:50%; @include transition(ease-in); } 
        span:nth-of-type(1) {  left:0; transform: rotate(45deg); }
        span:nth-of-type(2) { display:none; }
        span:nth-of-type(3) { right:0; transform: rotate(-45deg); }
    }

    .headerApplication { 
        background:$darkBlue; padding:15px 20px; font-weight:600; font-family:'latosemibold'; font-size:14px; text-transform:uppercase; color:$white; line-height: 1; letter-spacing:2px;  cursor:pointer; @include transition(ease-out);  @include display(center, center);
        b{ display:inline-block; font-size:0; margin-left:5px; @include transition(ease-out); width:8px; height:8px; background:url('../Images/go-white.png') no-repeat left top; background-size:100% 100%; }
        &:hover { 
            padding:15px 15px 15px 20px; background:$darkBlue2; @include transition(ease-in);
            b { margin-left:10px; @include transition(ease-in); } 
        }
        &.active { 
            background:$darkBlue2; padding:15px 15px 15px 20px;
            b { margin-left:10px;  }
        }
    }
}

 

.header-application-box { display:none; z-index:6; position:absolute; right:0; top:60px; width:250px; float:right; height:auto; background:$white;  box-shadow: 0px 0px 6px #00000029; 
    &:before { 
        content: "\f0d8"; position: absolute; top:-30px; right:30px; font-family: 'FontAwesome'; color: $white; font-size: 40px; text-shadow: 0px -5px 6px #00000029;
    }
    .marketserch { 
        position:relative; padding:0.8rem 1rem 0.8rem 4rem; border-bottom:solid 1px $applicationbox;
        &:before { position: absolute; left: 1rem;top: 50%;transform: translatey(-50%); content: "\f002"; font-family:'FontAwesome'; padding-right:1rem; margin-right:1rem; border-right: solid 1px $superultralightBlack; color:$lightBlack;font-size: 1.2rem; }
        input { outline: none; border:0; width:100%; color:$superultralightBlack; font-size:18px; font-weight:400; font-family:'latoregular'; }
    }
    p { display:none; background:$white; width:100%; float:left; padding:1rem 0; text-align:center; font-size:1rem; line-height:1; color:$darkBlue; font-weight:400; font-family:'latoregular'; }
    ul {
        padding:0.2rem 1rem 0.2rem 3.2rem; width:100%; float:left; height:auto;
        li{ 
            display:none; list-style:none; width:100%; float:left; margin: 0.3rem 0; ;
            a { 
                cursor:pointer;list-style:none; @include display(left, center); text-decoration:none;
                img { width: 20px; margin-right: 0.7rem; }
                span { color:$lightBlack; font-weight:300; font-family:'latolight'; font-size:16px;  @include transition(ease-out);  }
                &:hover {
                    span { color:$darkBlue;  @include transition(ease-in);  }
                }
            }
            &.firstresult { display:block; }
        }
    }
    h4 {
        background:$applicationbox; width: 100%; float: left; padding:0.8rem 1rem 0.8rem 3.2rem; text-align:left;
        a {color:$darkBlue;font-size:14px;font-weight:700; font-family:'latobold'; text-transform: uppercase;text-decoration: none;}
    }
}

@media only screen and (max-width:1565px) 
{
 
}

@media only screen and (max-width:1255px) 
{
    .header { padding:0.7rem 0; }
    .header aside 
    { 
        width:138px;
        span {top:auto; bottom:2px; right:-80px;  }
    }
    .header nav {
        display:none; z-index: 5;position:fixed; top:55px;left: 0;width: 100%;background:$white; margin:0px; 
        ul {
            width: 100%; padding:1rem 5% 2rem 5%; justify-content: flex-start; flex-direction: column;
            li {
                border-bottom:solid 1px rgba(112,112,112,0.3); margin: 0; width:100%;  float: left; display:block;
                a { 
                    width:100%; padding:1.5rem 0; float: left; letter-spacing: 0.4px;
                }
            &.navlastmenu { 
                display:block; border-bottom:none;  
                a { 
                    width:auto; margin: 1.5rem 0 0 0; background:$white; border: 1px solid $darkBlue; padding:14px 20px; font-weight:400; font-size:12px; font-family:'latoregular'; letter-spacing: 1.8px; line-height:1; text-transform:uppercase; color: $darkBlue; cursor:pointer; @include transition(ease-out); @include display(center, center);
                    b{ margin-left:5px;  line-height:1; @include transition(ease-out); display:inline-block; font-size:0; width:8px; height:8px; background:url('../Images/go-blue.png') no-repeat left top; background-size:100% 100%; }
                    &:hover { 
                        color:$lightBlue; border-color:$lightBlue;
                        padding:14px 15px 14px 20px; @include transition(ease-in);
                        b { margin-left:10px; @include transition(ease-in); } 
                    }
                }
            }
            }
            
        }
    }
    .header-right { position:static; margin-top: 12px; }
    .header-right .headerMenu { display:block; }
    .header-right .headerApplication { display:none; }

}

@media only screen and (max-width:599px) 
{

}


@media only screen and (max-width:599px) 
{
 
}

@media only screen and (max-width:479px) 
{
    .header {
        nav {
            height: 100%; overflow: hidden;
            ul { padding: 0 5% 2rem 5%; }
            .menu-mobile-img { display:block; width:100%; width: 96%; margin: 1% 2%; }
        }
    }
    
}

@media only screen and (min-device-width :480px) and (max-device-width :980px) and (orientation : landscape)
{
    .header nav ul { padding: 0 2% 1rem 2%; }
    .header nav ul li a { padding: 0.5rem 0; }
    .header nav ul li.navlastmenu a { margin: 1rem 0 0 0; }
}