.header {  z-index:6; position:fixed; top:0; left:0; right: 0; width: 100%;  max-width:1920px; margin:0 auto; float:none; display: flow-root; }


.nav { 
    width: 100%; height:auto; float: left; padding:0; background:$blk6; 
    .wrapper { 
        position: relative; height:36px; padding-right:30px; @include fBC();
        p { width: auto; float: left; text-align: left; color:$wht1; font-size: 16px; @include Arial(); }
        ul{
            @include fSC(); 
            li {
                list-style:none; 
                &.line { margin:0 12px; @include Arial(); color:$wht1;  font-size: 16px;  }
                a {  
                    text-decoration: none; @include Arial(); color:$wht1;  @include outT();
                    &.callat {  
                        @include aBold();
                        i.fa.fa-mobile { margin-right: 5px; }
                    }
                    &:hover { color:$ong1; @include inT(); }
                }
            }
        }
        i.fa.fa-search { 
            position: absolute;right: 0;top: 50%; transform: translateY(-50%); color: $wht1; font-size:16px; cursor: pointer; @include outT();
            &:hover  { color:$ong1; @include inT(); }
        }
    }
}


.navigation {
    width: 100%; float: left; background:$wht1; 
    .wrapper { 
        position: relative; height:100px; @include fBC();
        .logo { max-width: 100%; }
        aside { display: none; }
        ul {
            @include fEC(); align-items: stretch;height: 100%;
            li {
                list-style: none; margin: 0 15px; @include fSC();
                &.active { position: relative;
                    &:after { content: ''; position: absolute; bottom:0; left:0; height: 4px; width:100%; background-color:$ong1; border-radius: 4px;}
                }
                a { 
                    text-decoration: none;  @include Arial(); color:$blk1;  font-size: 20px; line-height: 45px; @include outT();
                    &:hover { color:$ong1; @include inT(); }
                    i.fa.fa-angle-down, i.fa.fa-angle-up  { margin-left:10px; }
                }
                &.loginsignup { 
                    margin-right: 0; 
                    a {  
                        @include fSC();
                        span { font-size: 16px; } 
                        i.fa.fa-user-circle { margin-left: 5px; font-size: 20px; color: $ong1; }
                     } 
                }
                .dropdownmenu { 
                    display: none; z-index:4; position: fixed; top: 136px; left:0; padding: 3rem 0; width: 100%; background: $wht6; box-shadow: 0px 0px 6px #00000014;
                   .dropdowninner { 
                         position: relative; width: 96%;max-width: 1640px;float: none;margin: 0 auto;  @include fBS(); 
                        .dropdownclose {  width: 5%; text-align: right;
                            cursor: pointer;  @include Arial(); color:$blk2;  font-size: 24px;  @include outT(); 
                            &:hover { color:$ong1; @include inT(); }
                         }
                        ul { 
                            width: 63%; float: left; @include fSS(); flex-wrap: wrap;
                            li { 
                                width: 30.3%; margin:0 3% 5px 0; display: inline-block;
                                a { 
                                    text-decoration: none;  @include Arial(); color:$blk2;  font-size: 18px; line-height: 30px;  @include outT();
                                    &:hover { color:$ong1; @include inT(); }
                                }
                                h2 { width: 100%; float: left; margin-bottom: 5px;  @include aBold(); color:$blk1;  font-size: 18px; }
                                ul {
                                    width: 100%; float: left; @include fSS(); flex-direction: column;
                                    li { 
                                        list-style: none; margin:5px 0; width: 100%; float: left;
                                        a { 
                                            text-decoration: none;  @include Arial(); color:$blk2;  font-size: 18px; line-height: 24px;  @include outT();
                                            &:hover { color:$ong1; @include inT(); }
                                        } 
                                    }
                                }
                            }
                        }
                        img { max-width: 30%;}
                    }
                }
            }
        }
    }
 }
 

 @media only screen and (max-width:1565px) 
 {
    .nav { 
        .wrapper { height:32px; }
    }

    .navigation {
        .wrapper { 
            height:80px; 
            ul {
                li {
                    .dropdownmenu {  top: 112px;  }
                }
            }
        }
    }
    
    
}



@media only screen and (max-width:1255px) 
{


    .nav { 
        .wrapper { 
            p { font-size: 14px; }
            ul{ display: none;}
            i.fa.fa-search { font-size:16px; }
        }
    }
    
    .navigation {
        .wrapper { 
            height: 70px;
            .logo { max-width:260px; }
            aside { 
                width: auto; float: right; @include fEC();
                .quickmenu { width: 32px; height: 32px; background-color: $ong1; @include fCC();  @include outT();  
                    img { max-width: 60%;}
                    &:hover { cursor: pointer; background-color: $ong3; @include inT(); }
                }
                .mainmenu { 
                    margin-left:1rem;  font-size: 36px; color: $blk1;  @include outT();
                    i.fa { font-weight: 400; line-height: 1;  }
                    &:hover { cursor: pointer; color: $ong3; @include inT(); }
                }
            }
            ul {
                display: none;
            }
        }
     }

}


@media only screen and (max-width:479px) 
{
    .nav { 
        .wrapper { 
            height: 27px;
            p { font-size: 12px; }
            i.fa.fa-search { font-size:14px; }
        }
    }
    .navigation {
        .wrapper { 
            height: 60px;
            .logo { max-width:190px; }
            aside { 
                .quickmenu { width: 24px; height: 24px;  }
                .mainmenu {  font-size: 28px; }
            }
        }
     }
}