
/* journey  === start */
.journeywrap {
    padding:3rem 0; width:100%; float:left; 
    .journeycontainer {
        display: flow-root; float:none; position: relative; width:95%; max-width:1372px; margin:0 auto; 
        h2 { width:100%; float:left; margin-bottom: 1.5rem; text-align:center; font-size:30px; color:$lightBlack; font-weight:700;font-family:'latobold'; }
        ul {
            float:none; position: relative; width:100%; max-width:1100px; margin:0 auto;  background:url('../images/path.png') no-repeat center top; background-size: 100% auto; @include display(space-between, flex-start);
            li { 
                width:23%; margin:0 1%; list-style: none; text-align:center;
                @include  display(center, flex-start); flex-wrap: wrap; flex-direction: column; 
                aside{
                    display:inline-block; margin:60px auto 0 auto; padding:10px; border:1px solid $lightBlue2; border-radius:50%;
                    span {
                        width:150px; height:150px; @include display(center, center); background:$programStep; border-radius:50%;
                        img {  max-width:65px;   }
                        em { 
                            font-style:normal; font-weight:900;font-family:'latoblack'; font-size:42px; color:$white; line-height:1;
                            b { display:block; font-weight:400;font-family:'latoregular'; font-size:20px; color:$white; }
                        }
                    }
                }
                div {
                    width: 100%; margin:75px 0 0 0; 
                    h3 { 
                        width:100%; float:left; margin:0 0 1rem 0; font-size:20px;  color:$programStep; font-weight:700;font-family:'latobold';  text-align: center;
                        span { display:block; margin:0.4rem auto 0 auto; width:37px; height:3px; background:$programStep; line-height:1; font-size:1px; } 
                    }
                    p { width:100%; float:left; font-size:16px;  color:$lightBlack; font-weight:400;font-family:'latoregular'; text-align: center; line-height: 1.4;  }
                }
            
            }
        }
    }
}

/* programdetails */
.journeywrap.programdetails {
     background:#efefef;
    .journeycontainer {
        background:url('../images/worldmap_programe.png') no-repeat center top; background-size:100% auto;
    }
}

/* application */
.journeywrap.applications {
    padding:3rem 0 1rem 0;  background:$white;
    h4 {
        display: flow-root; float:none;  width:95%; max-width:1000px; margin:0 auto 2rem auto; 
        text-align:center; font-size:30px; color:$lightBlack; font-weight:700;font-family:'latobold';
        span{ display:block; margin-top:0.5rem; font-size:18px; color:$lightBlack; font-weight:400;font-family:'latoregular'; }
    }
    .journeycontainer {
        background:url('../images/worldmap_application.png') no-repeat center top; background-size:100% auto;
    }
}


@media only screen and (max-width:1255px) 
{
    /* journey  === start */
    .journeywrap {
        .journeycontainer {
            h2 { margin-bottom: 1rem; font-size:24px; }
            ul {
                li { 
                    aside{
                        margin:45px auto 0 auto; padding:10px;
                        span {
                            width:140px; height:140px;
                            img {  max-width:55px;   }
                        }
                    }
                    div {
                        margin:60px 0 0 0; 
                        h3 {    }
                        p {  }
                    }
                }
            }
        }
    }

    /* application */
    .journeywrap.applications {
        h4 { 
            font-size:24px;  
            span{ font-size:18px; }
        }
    }

}


@media only screen and (max-width:1023px) 
{
    /* journey  === start */
    .journeywrap {
        padding: 2rem 0;
        .journeycontainer {
            ul {
                background:none;  flex-wrap: wrap;
                li { 
                    width:46%; margin: 2%;
                    aside{
                        margin:0 auto; padding:5px;
                        span {
                            width:90px; height:90px;
                            img {max-width: 45px;}
                        }
                    }
                    div {margin:10px 0 0 0; }
                }
            }
        }
    }

}


@media only screen and (max-width:767px) 
{
 
}



@media only screen and (max-width:479px) 
{
    /* programdetails */
    .journeywrap.programdetails {
        .journeycontainer { background:none;}
    }
    
    /* application */
    .journeywrap.applications {
        .journeycontainer { background:none; }
    }

    /* journey  === start */
    .journeywrap {
        background:$whiteLight;
        .journeycontainer {
            background:none;
            ul { @include display(center, flex-start);
                li { position:relative;
                    @include display(space-between, flex-start);
                    flex-wrap: nowrap; flex-direction: row; width:100%; margin:0; 
                    aside{
                        z-index: 2; display: block; margin: 0; padding:0; border:none;
                        span {
                            width:50px; height:50px; 
                            img {  max-width:45%;   }
                            em { 
                                font-size: 30px;
                                b { display:none; }
                            }
                        }
                    }
                    div {
                        width: auto; margin: 0 0 0 1rem;
                        h3 { 
                            text-align:left; margin: 0.5rem 0;
                            span { margin: 0.4rem 0 0 0; }
                        }
                        p { text-align:left; padding-bottom: 2rem; }
                    }
                &:before { content:'';z-index: 1;  position:absolute; left:23px;top:0; height:100%; width:2px; background:$darkBlue; }
                &:last-child {
                    &:before { display:none; }
                    p { padding-bottom:0; }
                }
                }
            }
        }
    }
}