  @mixin uppercase {
    text-transform:uppercase;
  }
  @mixin lowercase {
    text-transform:lowercase;
  }
  @mixin borderradius($val) {
    border-radius:$val;
  }
  @mixin display($val1, $val2) 
  {
    display:flex;
    justify-content:$val1; 
    align-items:$val2;
  }
  @mixin transition($val) 
  {
    transition : all 0.3s $val;
  }
  