
.ourpeoples { 
    padding:3rem 0; width:100%; float:left; background:  $white; overflow: hidden;
    .ourpeoplesInner { 
        display: flow-root; position: relative; width:95%; max-width:1300px; margin:0 auto; 
        h2 {  
            width:100%; float:left; text-align:center; font-size:1.8rem; color:$lightBlack2; font-weight:700;
        }
        h3 {  
             width:100%; float:left; margin:1rem 0;  text-align:center; font-size:1.2rem; line-height: 1.4; color:$lightBlack2; font-weight:400;
        }
     }
}
.ourpeoplesSlider { width:100%; float:left; }
.ourpeoplesSlider { width: 100%; float: left; margin: 0 !important; padding: 0 0 2rem 0; display: flex; flex-wrap:nowrap; justify-content:center;  overflow: visible;}
.ourpeoplesSlider .slick-list{padding:1rem 0 !important; }
.ourpeoplesSlider .slick-track{display: flex !important;}
.ourpeoplesSlider .slick-slide { 
    height: inherit !important;  display: flex !important; justify-content: center; align-items: flex-start; background: $white; margin: 0 10px;  box-shadow: 0 0 3px rgba(0,0,0,0.2);
    .items {
        border:0; @include transition(ease-out);
        img { width:100%; }
        .item { 
            width:100%; float:left; padding: 1.5rem 5% 1rem 5%; 
            h4 { width:100%; float:left; color:$btnBG; font-size:1.2rem; font-weight:700;  }
            p { width:100%; float:left; padding:1rem 0 1.5rem 0; color:$lightBlack; font-size:1rem; font-weight:400;  }
            aside { 
                width:100%; float:left;
                a { @include display(left, center); float: left; text-decoration:none; color: $lightBlack; font-size:0.8rem; font-weight:400; 
                    span { @include display(center, center); margin-right: 1rem; width:36px; height:36px; border-radius:50%; background: $darkBlue; color: $white; }
                }
            }
        }
    }
    &:hover { 
        background: $lightBlue; @include transition(ease-in);
        .items {
            .item {
                h4{  color: $white; }
                p{  color: $white; } 
                aside a {  
                    color: $white;
                    span { background: $white; color: $darkBlue; }
                }
            }
        }  
    }
}
.ourpeoplesSlider .slick-dots li { 
    background:$superultralightBlack;  
    &.slick-active { background: $slickbullet; }
}
.ourpeoplesSlider .slick-arrow:before { color: $slickarroNormal;  }
.ourpeoplesSlider .slick-arrow:hover:before { color: $slickarro; } 


@media only screen and (max-width:1565px) 
{
 
    .ourpeoples .ourpeoplesInner h2 {  font-size: 1.7rem; }
    .ourpeoples .ourpeoplesInner h3 {  font-size: 1rem; }
    .ourpeoplesSlider .slick-slide .items .item h4 { font-size: 1.1rem; }
    .ourpeoplesSlider .slick-slide .items .item p { font-size: 0.9rem; padding: 0.5rem 0 1rem 0; }
    .ourpeoplesSlider .slick-slide .items .item aside a span { margin-right: 0.5rem;width: 30px;height: 30px; }

 

}


 

@media only screen and (max-width:767px) 
{
    .ourpeoplesSlider { padding: 0 0 0.7rem 0; }
}
 
@media only screen and (max-width:479px) 
{
    .ourpeoplesSlider  .slick-list {padding:5px 40px 5px 20px !important; }
    .ourpeoplesSlider .slick-slide { margin: 0 8px;  }
 
    
    
}

