
.ourpeoples { 
    padding:3rem 0; width:100%; float:left; background:  $white; overflow: hidden;
    .ourpeoplesInner { 
        display: flow-root; position: relative; width:95%; max-width:1372px; margin:0 auto; 
        h2 {  
            width:100%; float:left; text-align:center; font-size:30px; color:$lightBlack2; font-weight:600;font-family:'latosemibold';
        }
        h3 {  
             width:100%; float:left; margin:1rem 0; padding:0 10%;  text-align:center; font-size:18px; line-height: 1.4; color:$lightBlack2; font-weight:400; font-family:'latoregular';
        }
     }
}
.ourpeoplesSlider { width: 100%; float: left; margin: 0 !important; padding: 0 0 2rem 0; display: flex; flex-wrap:nowrap; justify-content:center;  overflow: visible;}
.ourpeoplesSlider .slick-list{padding:1rem 0 !important; }
.ourpeoplesSlider .slick-track{display: flex !important;}
.ourpeoplesSlider .slick-slide { 
    height: inherit !important;  display: flex !important; justify-content: center; align-items: stratch;  margin: 0 10px;    
}
.ourpeoplesSlider .items {
        background: $white; height: 100%; box-shadow: 0 0 2px rgba(0,0,0,0.2); position:relative;  border:0; transition:all 0.6s ease-out; 
        &:before { opacity:0;  content:''; position:absolute; top:0; left:0; z-index:1; width: 100%;height: 7px; background: $lightBlue; transition:all 0.6s ease-out;  }
        img { width:100%; }
        .item { 
            width:100%; float:left; padding: 1.5rem 5% 1rem 5%; 
            h4 { width:100%; float:left; color:$btnBG; font-size:18px; font-weight:700;  font-family:'latobold'; }
            p { width:100%; float:left; padding:1rem 0 1.5rem 0; color:$lightBlack2; font-size:16px; font-weight:400; font-family:'latoregular'; }
            aside { 
                width:100%; float:left;
                a { @include display(left, center); float: left; text-decoration:none; color: $lightBlack; font-size:14px; font-weight:400; font-family:'latoregular'; letter-spacing:2px; @include transition(ease-out);
                    span { 
                        @include display(center, center); margin-right: 0.6rem; width:36px; height:36px; border-radius:50%; background: $darkBlue; color: $white; @include transition(ease-out); 
                        b { display:inline-block; font-size:0; width:10px; height:10px; background:url('../Images/go-white.png') no-repeat left top; background-size:100% 100%; }
                    }
                }
            }
        }
        &:hover { 
                background: $lightBlue; transition:all 0.6s ease-in; 
                &:before { opacity:1; transition:all 0.6s ease-in;  }
                .item {
                    h4{  color: $white; }
                    p{  color: $white; } 
                    aside a {  
                        color: $white; @include transition(ease-in);
                        span { 
                            margin-right: 1rem; background: $white; color: $darkBlue; @include transition(ease-in); 
                            b {  background:url('../Images/go-blue.png') no-repeat left top; background-size:100% 100%; }
                        }
                    }
                } 
        }
    }
    
.ourpeoplesSlider .slick-dots li { 
    background:$superultralightBlack;  
    &.slick-active { background: $slickbullet; }
}
.ourpeoplesSlider .slick-arrow:before { color: $slickarroNormal;  }
.ourpeoplesSlider .slick-arrow:hover:before { color: $slickarro; } 


@media only screen and (max-width:1565px) 
{
    .ourpeoplesSlider .items .item p { padding: 0.5rem 0 1rem 0; }
    .ourpeoplesSlider .items .item aside a span { margin-right: 0.5rem;width: 30px;height: 30px; }

 

}

@media only screen and (max-width:1255px) 
{
    .ourpeoples .ourpeoplesInner  h2 { font-size:24px; } 
    .ourpeoples .ourpeoplesInner  h3 {  font-size:18px;  padding:0 5%; }
    .ourpeoplesSlider .items .item h4 {  font-size: 18px; line-height: 1.2; }
    .ourpeoplesSlider .items .item p { font-size: 16px; }
    .ourpeoplesSlider .items .item aside a {  font-size: 12px; }
}


@media only screen and (max-width:767px) 
{
    .ourpeoples .ourpeoplesInner  h3 {  padding:0 2%; }

    .ourpeoplesSlider { padding: 0 0 0.7rem 0; }
}

 
@media only screen and (max-width:479px) 
{

    .ourpeoples .ourpeoplesInner  h3 {  padding:0; }

    .ourpeoplesSlider .slick-list {padding:5px 40px 5px 20px !important; }
    .ourpeoplesSlider .slick-slide { margin: 0 8px;  }
 
    .ourpeoplesSlider { flex-wrap: wrap;flex-direction: column; }
    .ourpeoplesSlider .items {
        margin:0.5rem 0 0.7rem 0;
        &:before { opacity:1; }
    }
    
}

