.quicklinkBG { display:none;  z-index:6; position: fixed; top:0; left: 0; width: 100%; height: 100%; background-color: $blk1;  background:rgba(0,0,0,.1); }
.quicklink { z-index: 7; position: fixed; top: 50%; right:-248px; transform: translateY(-38%); display:block; width: 248px; float: left; padding:1.5rem; box-shadow: 0px 0px 6px #00000029; background-color: $wht1;
    aside {  
        position: absolute; top:50%; left:-50px; transform: translateY(-50%); width: 50px; height: 50px; background-color: $ong1; @include fCC();  @include outT(); opacity: 0;
        img { max-width: 100%;}
        &:hover { cursor: pointer; background-color: $ong3; @include outT(); }
    }
    h6 { display:none; }
    h2 { 
        width: 100%; float: left; text-align: left; @include fSC(); 
        span {  color:$blk1; font-size:28px; letter-spacing: 0.66px; line-height: 26px; @include eurostile(); }
        img { margin-left:5px; max-width: 100%;}
    }
    h3 {  width: 100%; float: left; margin:1.5rem 0 0.2rem 0; text-align: left; color:$blu1; font-size:18px;  line-height: 28px; @include aBold(); }
    p { 
        width: 100%; float: left; text-align: left; @include fSC(); 
        span { color: $ong1; font-size: 18px; line-height: 21px; @include aBold(); }
        a { 
            text-decoration: none; color: $ong1; font-size: 18px; line-height: 21px; @include aBold(); @include outT(); 
            &:hover { color: $blk1; @include inT();  }
        }
    }
    .qlservice {
        width: 100%; float: left;
        h4 { width: 100%; float: left; text-align: left; margin: 1.2rem 0 0.3rem 0; padding:6px 15px; border-radius:0 4px 0 4px; background-color: $ong1; color: $wht1;  font-size:16px;  line-height: 24px; @include aBold(); }
        ul {
            width: 100%; float: left;
            li {
                list-style: none; width: 100%; float: left; margin:0.4rem 0; 
                a{
                    text-decoration: none; @include fSC();
                    span {  
                        width:23px; height: 20px; float: left; margin-right:6px; background:transparent url('../Images/icons.png') no-repeat;  
                        &.ql_connection { background-position:0 0; }
                        &.ql_availability { background-position:0px -20px; }
                        &.ql_ratecard { background-position:0px -40px; }
                        &.ql_billpay { background-position:0px -60px; }
                        &.ql_stations { background-position:0px -80px; }
                        &.ql_calculator { background-position:0px -100px; }
                        &.ql_referral { background-position:0px -120px; }
                        &.ql_offers { background-position:0px -140px; }
                    }
                    b {font-size: 16px; line-height: 24px; border-bottom: solid 1px  $blu1; @include Arial(); color: $blu1; @include outT(); }
                    &:hover {
                        span {
                            &.ql_connection { background-position:-23px 0; }
                            &.ql_availability { background-position:-23px -20px; }
                            &.ql_ratecard { background-position:-23px -40px; }
                            &.ql_billpay { background-position:-23px -60px; }
                            &.ql_stations { background-position:-23px -80px; }
                            &.ql_calculator { background-position:-23px -100px; }
                            &.ql_referral { background-position:-23px -120px; }
                            &.ql_offers { background-position:-23px -140px; }
                        }
                        b { border-bottom-color:$ong4; color: $ong4; @include inT(); }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width:1565px) 
{
    .quicklink { 
        right:-210px; transform: translateY(-37%); padding:1rem; width: 210px;
        aside { left:-44px; transform: translateY(-44%); width: 44px; height: 44px; }
        h2 { 
            span { font-size:24px;  line-height: 24px;  }
        }
        h3 {  margin:1rem 0 0.1rem 0; font-size:16px;  line-height: 24px;  }
        p { 
            span { font-size: 16px; line-height: 18px;  }
            a { font-size: 16px; line-height:18px;  }
        }
        .qlservice {
            h4 { margin: 1rem 0 0.2rem 0; padding:5px 15px;  font-size:16px;  line-height: 22px;  }
            ul {
                li {
                    margin:0.2rem 0; 
                    a {
                        b {font-size: 14px; line-height: 22px;  }   
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1255px) 
{
    .quicklinkBG {  background:rgba(0,0,0,.9); }
   .quicklink { 
        display: none; right:0px; top:0; transform: translateY(0); padding:1.5rem; width: 320px; min-height: 100vh;
        aside { display: none; }
        h6 { 
            display: block; margin-bottom: 2rem; width: 100%; float: left; text-align: right; 
            i.fa { 
                font-size: 25px; color: $blk1; @include outT();
                &:hover { color:$ong1; @include inT(); }
            }
        }
        h2 { 
            span { font-size:24px;  line-height: 24px;  }
        }
        h3 {  margin:1rem 0 0.1rem 0; font-size:16px;  line-height: 24px;  }
        p { 
            span { font-size: 16px; line-height: 18px;  }
            a { font-size: 16px; line-height:18px;  }
        }
        .qlservice {
            h4 { margin: 1rem 0 0.2rem 0; padding:5px 15px;  font-size:16px;  line-height: 22px;  }
            ul {
                li {
                    margin:0.2rem 0; 
                    a {
                        b {font-size: 14px; line-height: 22px;  }   
                    }
                }
            }
        }
    } 
}
@media only screen and (max-width:367px) 
{
   .quicklink { 
         width:290px; padding:1rem;
    }
}
@media only screen and (max-width:359px) 
{
   .quicklink { 
         width:240px; 
    }
}


@media only screen and (min-device-width :500px) and (max-device-width :1000px) and (orientation : landscape)
{
    .quicklink { 
        width: 380px; padding: 1rem 2rem;
        h6 { 
             margin-bottom: 0;  
        }
        h3 { margin: 0.5rem 0 0.1rem 0; }
        .qlservice { 
            width: 50%; padding-right: 5%; 
            h4 { margin: 0.4rem 0 0.1rem 0; padding: 3px 15px; }
            ul {
                li { margin: 0.1rem 0;}
            }
        }
     }
}