$blk1 : #000000;
$blk2 : #3C3C3C;
$blk3 : #3D3D3D;
$blk4 : #3E3E3E;
$blk5 : #636363;
$blk6 : #535353;
$blk7 : #707070;
$blk8 : #969696;

$blu1 : #233D4D;
$blu2 : #233C4C;

$ong1 : #F2662C;
$ong2 : #F0632A;
$ong3 : #ED4C1D;
$ong4 : #F1652C;

$wht1 : #FFFFFF;
$wht2 : #FFFEFE;
$wht3 : #F4F7F8;
$wht4 : #AEAEAE;
$wht5 : #E8E8E8;
$wht6 : #FAFAFA;