$darkBlue : #1F3C84;
$darkBlue2 : #0f2867;
$lightBlue : #14A0D2;
$lightBlue2 : #1F9CD4;
$lightBlack : #333333;
$lightBlack2 : #393939;
$ultralightBlack : #575756;
$superultralightBlack : #6E6E6E;
$superDuperLightBlack : #D9D9D9;
$black3 : #262626;
$black2 : #242424;
$black : #000000;
$white : #ffffff;
$whiteLight: #ECEFEF;
$whiteUltraLight: #CCCCCC;
$footerBG : #F7F8F8;
$termBg : #F7F8F8;
$footerLine : #E5E6E6;
$footerLiA : #0075C0;
$copyrightLiA : #0f2867;
$shareNavBg : #1A478E;
$btnBG : #1A478E;
$homebg : #ECEFEF;
$aboutaddressBG : #ECEFEF;
$applicationbox : #F6F6F6;
$termTableBorder : #ECEFEF;
$slickbullet : #172C61;
$pagingArror : #172C61;
$pagingFL : #262626;
$slickarro : #132963;
$slickarroNormal : #262626;
$faq1 : #707070;
$faqsHeadText : #323631;
$faqsBxBorder : #479BCF;
$green : #2EC542;
$programStep : #1A478E;